ion-app.app-root page-core-login-credentials .item-input {
	display: none;
}

ion-app.app-root page-core-login-credentials .item-heading {
	display: none;
}

ion-app.app-root page-core-login-credentials .button {
	display: none;
}
