.secondary-navigation {
    max-width: $course-content-maxwidth;
    margin: $page-padding-global auto;
    padding-bottom: 15px;
    .navigation {
        border-top: 1px solid $nav-tabs-border-color;
        border-bottom: 1px solid $nav-tabs-border-color;
        height: calc(#{$moremenu-height} + 2px);
        background-color: $body-bg;
        .nav-tabs {
            border: none;
            .nav-link {
                border-radius: initial;
            }
        }
    }
}