ul.tutorialbooking {
    margin: 0;
}

ul.tutorialbooking li.message {
    list-style: none;
    margin: 0 0 0.6em 0;
    padding: 0;
    border-bottom: 0.2em solid #eee;
}

ul.tutorialbooking li.message .messageheader .description {
    display: inline-block;
    width: 25%;
    font-weight: bold;
}

ul.tutorialbooking li.message .messageheader .text {
    display: inline-block;
    width: 75%;
}

ul.tutorialbooking li.message .messagebody {
    margin-top: 0.2em;
    margin-bottom: 0.6em;
}

.path-mod-tutorialbooking .tutorial {
    border-bottom: 0.2em solid #eee;
}

.path-mod-tutorialbooking .tutorial_session {
    position: relative;
    margin: 0 1em;
    border-bottom: 0.2em solid #eee;
}

.path-mod-tutorialbooking .tutorial_session .controls,
.path-mod-tutorialbooking .tutorial .controls {
    margin-bottom: 0.6em;
}

.path-mod-tutorialbooking .controls .control {
    display: inline;
}

.path-mod-tutorialbooking .tutorial_session .session_attendees {
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.path-mod-tutorialbooking .tutorial_session .action-menu {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.path-mod-tutorialbooking .tutorial_session.editing .sectionname {
    margin-right: 3.5em;
}

@media (max-width: 600px) {
    /* Move to the action menu to the top of it's session when the screen gets narrow. */
    .path-mod-tutorialbooking .tutorial_session .action-menu {
        left: 0;
        right: inherit;
    }

    .path-mod-tutorialbooking .tutorial_session.editing .sectionname {
        margin-right: inherit;
        padding-top: 1.3em;
    }
}

.path-mod-tutorialbooking .messageheader .user::before {
    content: ", ";
}

.path-mod-tutorialbooking .messageheader .user:first-child::before {
    content: "";
}

.path-mod-tutorialbooking .signedupuser {
    display: inline;
}

.path-mod-tutorialbooking .signedupuser .icon {
    margin-right: 0;
}

.path-mod-tutorialbooking.dir-ltr .signedupuser:not(:last-of-type)::after {
    content: ", ";
}

.path-mod-tutorialbooking.dir-rtl .signedupuser:not(:first-of-type)::before {
    content: " ,";
}

.path-mod-tutorialbooking .tutorial_session .controls .moveup,
.path-mod-tutorialbooking .tutorial_session .controls .movedown {
    display: none;
}

.path-mod-tutorialbooking .tutorial_session:not(:first-of-type) .controls .moveup {
    display: inline;
}

.path-mod-tutorialbooking .tutorial_session:not(:last-of-type) .controls .movedown {
    display: inline;
}
