{{!
    This file is part of the Tutorial Booking activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_tutorialbooking/slot_information

    Student view of the tutorial booking activity.

    Classes required for JS:
    * sectionname

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id
    * title
    * summary
    * spaces
    * usedspaces
    * freespaces
    * oversubscribed

    Example context (json):
    {
        "id": 6,
        "title": "Slot 1",
        "summary": "<p>This session takes place in June</p>",
        "spaces": 6,
        "usedspaces": 4,
        "freespaces": 2,
        "oversubscribed": false
    }
}}
<h3 class="sectionname">{{{title}}}</h3>
<div class="summary">{{{summary}}}</div>
{{#oversubscribed}}<div class="alert alert-danger">
    {{#str}} numbersline_oversubscribed, tutorialbooking, {"total": "{{spaces}}", "taken": "{{usedspaces}}", "left": "{{freespaces}}"} {{/str}}
</div>{{/oversubscribed}}
{{^oversubscribed}}<div class="alert alert-info">
    {{#str}} numbersline, tutorialbooking, {"total": "{{spaces}}", "taken": "{{usedspaces}}", "left": "{{freespaces}}"} {{/str}}
</div>{{/oversubscribed}}
