{{!
    This file is part of the Tutorial Booking activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_tutorialbooking/student_slot

    Student view of the tutorial booking activity.

    Classes required for JS:
    * tutorial_session
    * movedown
    * moveup
    * controls

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id
    * signups
    * title
    * urledit
    * urldelete
    * urladdusers
    * urlregistername
    * urlregisterdate
    * urlmessage
    * urlmoveup
    * urlmovedown

    Example context (json):
    {
        "id": 6
        "signups": [
            "<li>Bill Jukes</li>",
            "<li>You</li>",
            "<li>Wendy Darling</li>"
        ],
        "title": "Slot 1",
        "urledit": "http://example.com/",
        "urldelete": "http://example.com/",
        "urladdusers": "http://example.com/",
        "urlregistername": "http://example.com/",
        "urlregisterdate": "http://example.com/",
        "urlmessage": "http://example.com/",
        "urlmoveup": "http://example.com/",
        "urlmovedown": "http://example.com/"
    }
}}
<div id="slot-{{id}}" class="tutorial_session" data-name="{{{title}}}">
    {{> mod_tutorialbooking/slot_information}}
    {{^privatesignups}}<div>{{#str}} attendees, tutorialbooking {{/str}}</div>{{/privatesignups}}
    <ul class="session_attendees">
        {{#signups}}{{{.}}}{{/signups}}
    </ul>
    <ul class="controls">
        {{#editsignuplists}}
            <li class="control">
                <a href="{{{urledit}}}" class="btn btn-secondary btn-sm">{{#str}} editsession, tutorialbooking {{/str}}</a>
            </li>
            <li class="control">
                <a href="{{{urldelete}}}" class="btn btn-secondary btn-sm">{{#str}} deletesession, tutorialbooking {{/str}}</a>
            </li>
        {{/editsignuplists}}
        {{#canaddstudent}}
            <li class="control">
                <a href="{{{urladdusers}}}" class="btn btn-secondary btn-sm">{{#str}} addstudents, tutorialbooking {{/str}}</a>
            </li>
        {{/canaddstudent}}
        {{#editregisters}}
            <li class="control">
                <a href="{{{urlregistername}}}" class="btn btn-secondary btn-sm" target="_blank">
                    {{#str}} registerprintname, tutorialbooking {{/str}}
                </a>
            </li>
            <li class="control">
                <a href="{{{urlregisterdate}}}" class="btn btn-secondary btn-sm" target="_blank">
                    {{#str}} registerprintdate, tutorialbooking {{/str}}
                </a>
            </li>
        {{/editregisters}}
        {{#editmessage}}
            <li class="control">
                <a href="{{{urlmessage}}}" class="btn btn-secondary btn-sm">
                    {{#str}} emailgroupprompt, tutorialbooking {{/str}}
                </a>
            </li>
        {{/editmessage}}
        {{#editsignuplists}}
            <li class="control moveup">
                <a href="{{{urlmoveup}}}">
                    {{# pix }} MoveUp, mod_tutorialbooking, {{#str}} moveupsession, tutorialbooking {{/str}} {{/ pix }}
                </a>
            </li>
            <li class="control movedown">
                <a href="{{{urlmovedown}}}">
                    {{# pix }} MoveDown, mod_tutorialbooking, {{#str}} movedownsession, tutorialbooking {{/str}} {{/ pix }}
                </a>
            </li>
        {{/editsignuplists}}
    </ul>
</div>
